In [1]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
data.shape

(1728, 7)

In [3]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [4]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']] = \
X.loc[:,['buying','maint','lug_boot','safety']].apply(enc.fit_transform)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = \
train_test_split(X,y,test_size=0.3,random_state=10)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict= model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9441233140655106

col_0    acc  good  unacc  vgood
outcome
acc       93     1      8      0
good       8    13      0      0
unacc      3     0    368      0
vgood      6     2      1     16

In [11]:
# % of correctly classified: 93/102, 13/21,368/371,16/25

In [12]:
16/25

0.64

In [13]:
from sklearn. metrics import classification_report

print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.85      0.91      0.88       102
        good       0.81      0.62      0.70        21
       unacc       0.98      0.99      0.98       371
       vgood       1.00      0.64      0.78        25

    accuracy                           0.94       519
   macro avg       0.91      0.79      0.84       519
weighted avg       0.94      0.94      0.94       519

In [14]:
#pip install imblearn

In [15]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [16]:
X_train_smote, y_train_smote = smote.fit_resample(X_train.astype('float'),y_train)

In [17]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [18]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9421965317919075

col_0    acc  good  unacc  vgood
outcome
acc       91     6      3      2
good       2    19      0      0
unacc     13     1    356      1
vgood      0     2      0     23

In [19]:
23/25

0.92

In [20]:
from sklearn. metrics import classification_report

print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         acc       0.86      0.89      0.88       102
        good       0.68      0.90      0.78        21
       unacc       0.99      0.96      0.98       371
       vgood       0.88      0.92      0.90        25

    accuracy                           0.94       519
   macro avg       0.85      0.92      0.88       519
weighted avg       0.95      0.94      0.94       519