In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'bangalore house price prediction OHE-data.csv')

In [3]:
df.columns

Index(['bath', 'balcony', 'price', 'total_sqft_int', 'bhk', 'price_per_sqft',
       'area_typeSuper built-up  Area', 'area_typeBuilt-up  Area',
       'area_typePlot  Area', 'availability_Ready To Move',
       ...
       'location_Kalena Agrahara', 'location_Horamavu Agara',
       'location_Vidyaranyapura', 'location_BTM 2nd Stage',
       'location_Hebbal Kempapura', 'location_Hosur Road',
       'location_Horamavu Banaswadi', 'location_Domlur',
       'location_Mahadevpura', 'location_Tumkur Road'],
      dtype='object', length=108)

In [4]:
df.shape

(7120, 108)

In [5]:
df.info

<bound method DataFrame.info of       bath  balcony   price  total_sqft_int  bhk  price_per_sqft  \
0      3.0      2.0  150.00          1672.0    3     8971.291866
1      3.0      3.0  149.00          1750.0    3     8514.285714
2      3.0      2.0  150.00          1750.0    3     8571.428571
3      2.0      2.0   40.00          1250.0    2     3200.000000
4      2.0      2.0   83.00          1200.0    2     6916.666667
...    ...      ...     ...             ...  ...             ...
7115   3.0      2.0  325.00          2900.0    3    11206.896552
7116   3.0      1.0   84.83          1780.0    3     4765.730337
7117   2.0      1.0   48.00           880.0    2     5454.545455
7118   2.0      1.0   55.00          1000.0    2     5500.000000
7119   2.0      1.0   78.00          1400.0    3     5571.428571

      area_typeSuper built-up  Area  area_typeBuilt-up  Area  \
0                                 1                        0
1                                 0                        1
2                                 1                        0
3                                 1                        0
4                                 0                        0
...                             ...                      ...
7115                              1                        0
7116                              1                        0
7117                              0                        0
7118                              0                        0
7119                              0                        0

      area_typePlot  Area  availability_Ready To Move  ...  \
0                       0                           1  ...
1                       0                           1  ...
2                       0                           1  ...
3                       0                           1  ...
4                       1                           1  ...
...                   ...                         ...  ...
7115                    0                           1  ...
7116                    0                           0  ...
7117                    1                           1  ...
7118                    1                           0  ...
7119                    1                           0  ...

      location_Kalena Agrahara  location_Horamavu Agara  \
0                            0                        0
1                            0                        0
2                            0                        0
3                            0                        0
4                            0                        0
...                        ...                      ...
7115                         0                        0
7116                         0                        0
7117                         0                        0
7118                         0                        0
7119                         0                        0

      location_Vidyaranyapura  location_BTM 2nd Stage  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
7115                        0                       0
7116                        0                       0
7117                        0                       0
7118                        0                       0
7119                        0                       0

      location_Hebbal Kempapura  location_Hosur Road  \
0                             0                    0
1                             0                    0
2                             0                    0
3                             0                    0
4                             0                    0
...                         ...                  ...
7115                          0                    0
7116                          0                    0
7117                          0                    0
7118                          0                    0
7119                          0                    0

      location_Horamavu Banaswadi  location_Domlur  location_Mahadevpura  \
0                               0                0                     0
1                               0                0                     0
2                               0                0                     0
3                               0                0                     0
4                               0                0                     0
...                           ...              ...                   ...
7115                            0                0                     0
7116                            0                0                     0
7117                            0                0                     0
7118                            0                0                     0
7119                            0                0                     0

      location_Tumkur Road
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
7115                     0
7116                     0
7117                     0
7118                     0
7119                     0

[7120 rows x 108 columns]>

In [6]:
X = df.drop('price', axis=1)
y = df['price']

In [7]:
X.shape

(7120, 107)

In [8]:
y.shape

(7120,)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [10]:
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (4984, 107)
Shape of y_train =  (4984,)
Shape of X_test =  (2136, 107)
Shape of y_test =  (2136,)

In [11]:
from sklearn.tree import DecisionTreeRegressor

In [12]:
regressor = DecisionTreeRegressor(criterion='mse',splitter='random')
regressor.fit(X_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mse', splitter='random')

In [13]:
regressor.score(X_train,y_train)

1.0

In [14]:
regressor.score(X_test, y_test)

0.8836396057129412

In [15]:
pred = regressor.predict(X_test)
pred

array([ 68.75,  59.8 ,  28.  , ...,  38.13, 100.  ,  47.  ])

In [16]:
y_test

6711     70.00
823      58.40
3500     25.00
1537     36.00
513      38.30
         ...
4424    150.00
701      38.00
3228     37.83
3578    105.00
2615     48.00
Name: price, Length: 2136, dtype: float64

In [17]:
a=pd.DataFrame(pred)

In [18]:
b=pd.DataFrame(y_test)

In [19]:
b1=b.reset_index()

In [20]:
b1

      index   price
0      6711   70.00
1       823   58.40
2      3500   25.00
3      1537   36.00
4       513   38.30
...     ...     ...
2131   4424  150.00
2132    701   38.00
2133   3228   37.83
2134   3578  105.00
2135   2615   48.00

[2136 rows x 2 columns]

In [21]:
b1['predicted']=a

In [22]:
b2=b1[['price','predicted']]

In [23]:
b2

       price  predicted
0      70.00      68.75
1      58.40      59.80
2      25.00      28.00
3      36.00      35.80
4      38.30      37.00
...      ...        ...
2131  150.00     162.00
2132   38.00      38.00
2133   37.83      38.13
2134  105.00     100.00
2135   48.00      47.00

[2136 rows x 2 columns]